.Trip {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #274798;
  overflow: hidden;

  .PausaDescanso {
    .CRPopUp {
      height: 45% !important;

      .modal-popup_content_title_text {
        font-size: 24px;
      }

      .modal-popup_content_principal_sub-title {
        font-size: 14px;
      }
    }
  }

  .FloatingButton {
    position: absolute !important;
    bottom: 175px;
    right: 20px;
  }

  .model-popup {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;

    .CRPopUp {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40%;
    }
  }

  .TripMap {
    height: calc(100vh - 80px);
    margin-bottom: 50px;
  }

  .TripHeader {
    display: flex;
    flex-direction: row;
    width: calc(100% - 30px);
    height: 50px;
    padding: 15px;
    .TripHeaderImageContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 30%;
      .TripHeaderOpenMenuButton {
        margin-right: 20px;
        width: 33px;
        height: 22px;
        border: none;
        background: none;
        outline: none;
      }
      .TripHeaderCloseMenuButton {
        margin-right: 20px;
        width: 20px;
        height: 20px;
        border: none;
        background: none;
        outline: none;
      }
    }
    .TripHeaderLocation {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      margin-left: 15px;
      color: white;
      .TripHeaderLocationTitle {
        font-family: 'Segoe UI';
        font-size: 12.8px;
        font-weight: normal;
        line-height: 17px;
      }
      .TripHeaderLocationName {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;
      }
    }
  }

  .TripMenu {
    position: absolute;
    top: 80px;
    width: 100vw;
    height: 100%;
    background: #274798;
    .TripMenuOptions {
      margin-top: 15px;
      display: flex;
      flex-direction: column;
      .TripMenuOptionButton {
        border: none;
        outline: none;
      }
    }
    .TripBar {
      display: flex;
      background-color: white;
      height: 1px;
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
      margin-top: 15px;
    }
    .TripOptions {
      margin-top: 30px;
      margin-left: 50px;
      margin-right: 50px;
      .TripOptionButton {
        outline: none;
        font-weight: bold;
        margin-bottom: 25px;
      }
    }
  }

  .TripTimer {
    position: absolute;
    height: 130px;
    background-color: white;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 0px 10px rgba(53, 56, 58, 0.25);
    bottom: 0;

    .TripTimerData {
      padding: 0;
      border: none;
      background: none;
      outline: none;
      height: calc(100% - 30px);
      width: calc(100% - 20px);
      padding: 20px 10px 10px 10px;
      .TripTimerInfo {
        padding: 30px 20px 0px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-style: normal;
        font-family: Segoe UI;
        line-height: 8px;
        font-size: 16px;
        .TripInfoTitle {
          width: 60%;
          display: flex;
          flex-direction: column;
          font-weight: normal;
        }
        .TripInfoValue {
          width: 40%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          font-weight: bold;
        }
      }
      .FinishTripButton {
        border: 2px solid #274798;
        color: #274798;
        font-weight: bold;
        margin-right: 10%;
        margin-left: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
      }
    }

    .TripTimerOpenButton {
      position: absolute;
      bottom: 0px;
      background: none;
      outline: none;
      border: none;
      padding: 0;
      height: 130px;
      width: 100%;
    }

    &.Open {
      height: 425px;

      .TripTimerOpenButton {
        height: 425px;
      }
    }

    .TripHelp {
      border: 2px solid #fa7c54;
    }
  }

  .TripHelp {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: none;
    border-radius: 10px;
    padding: 5x;
    background-color: white;
    outline: none;
    .TripHelpText {
      font-family: 'Montserrat Alternates', sans-serif;
      margin-left: 10px;
      font-size: 16px;
    }
  }
}
