.modal-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 8;
  display: flex;
  justify-content: center;

  &_content {
    width: 70%;
    height: 55%;
    border-radius: 10px;
    padding: 20px;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;

    &_title {
      width: 100%;
      font-family: 'Montserrat Alternates', sans-serif;
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      &_container {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      &_text {
        color: #274798;
        font-weight: bold;
        font-size: 26px;
        max-width: 135px;
      }
    }

    &_principal {
      font-family: 'Montserrat Alternates', sans-serif;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;

      &_sub-title {
        color: #56585a;
        font-size: 20px;
        text-align: center;
        font-size: 17px;
        margin-top: 15px;
      }

      &_button_blue {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 15px;
        font-weight: bold;
        width: 100%;
        padding: 15px;
        border-radius: 20px;
        background-color: #274798;
        border-color: #274798;
        color: white;
        outline: none;
      }

      &_button_white {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 15px;
        width: 100%;
        font-weight: bold;
        padding: 15px;
        border-radius: 20px;
        background-color: white;
        color: #274798;
        border-color: #274798;
        outline: none;
      }
    }
  }
}

.modal-popup,
.faded {
  background-color: rgba(black, .5);
}
