.modal-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 8;
  background-color: #74747485;
  display: flex;
  justify-content: center;

  &_content {
    width: 70%;
    height: 55%;
    margin-top: 20%;
    border-radius: 15px;
    padding: 20px;
    flex-direction: column;
    background-color: white;

    &_title {
        margin-left: 20px;
        margin-top: 10px;
        display: flex;
        justify-content: space-evenly;
        
        &_text {
            color: #274798;
            font-weight: bold;
            font-size: 30px;
            margin-left: 20px;
        }
    }

    &_principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;

        &_sub-title {
            color: #56585A;
            font-size: 20px;
            text-align: center;
            margin-top: 20px;
            font-size: 17px;
        }

        &_button_blue {
            margin-top: 15px;
            font-size: 15px;
            font-weight: bold;
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            background-color: #274798;
            color: white;
        }

        &_button_white {
            margin-top: 15px;
            font-size: 15px;
            width: 100%;
            font-weight: bold;
            padding: 15px;
            border-radius: 10px;
            background-color: white;
            color: #274798;
            border-color: #274798;
        }
    }
  }
}