.timer {
    background-color: white;

    .title {
        margin: 0;
        font-size: 16px;
        color: #56585a;
    }

    .time-panel {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .time {
            margin: 0;
            font-size: 48px;
            color: #274798;
        }
        .circle-button {
            border: 8px solid #274798;
            padding: 15px;
            border-radius: 100%;

            button {
                box-sizing: border-box;
                padding: 0;
                -webkit-tap-highlight-color: transparent;
                outline: none;
                user-select: none;
                border: 0;
                background: transparent;
                box-sizing: border-box;
                width: 0;
                height: 36px;

                border-color: transparent transparent transparent #274798;
                transition: 100ms all ease;
                cursor: pointer;

                // play state
                border-style: solid;
                border-width: 18px 0 18px 36px;

                &.active {
                    border-style: double;
                    border-width: 0px 0 0px 36px;
                }

                &:hover {
                    border-color: transparent transparent transparent #274798;
                }
            }
        }
    }
}
