.Health {
    background: linear-gradient(29.67deg, #3787b7 -3.31%, #274798 87.77%);
    padding-top: 15px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .Card {
        background-color: white;
        width: 65%;
        height: 60%;
        border-radius: 20px;
        padding: 30px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .Title {
            color: #274798;
            font-family: Montserrat Alternates;
            font-size: 25px;
        }

        .Article {
            width: 100%;

            .Link {
                text-decoration: none;

                .Content {
                    display: flex;
        
                    .Image {
                        height: 70px;
                        width: 70px;
                        border-radius: 50%;
                    }
        
                    .Write {
                        margin-left: 10px;
                        margin-top: -20px;
                        
                        .Title {
                            color: #56585A;
                            font-size: 16px;
                        }
        
                        .SubTitle {
                            color: #56585A;
                            font-size: 12px;
                            margin-top: -20px;
                        }
                    }
                }
            }
        }
    }

    .Img {
        width: 40%;
        left: 30%;
        right: 30%;
        margin-top: 20%;
    }
}