@import '../../../App.scss';

.badge-screen {
  @extend .screen;
  flex-direction: column;

  .card {
    .no-badges-title {
      padding-top: 10px;
      font-weight: 600;
      font-size: 18px;
      color: #56585a;
    }
  }
}
