@import '../../../App.scss';

.Destino {
  @extend .screen;
  &__content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .CRPlacesInput {
      width: 100%;
    }
  }
  .model-popup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .CRPopUp {
    width: 315px !important;
    height: 275px !important;
    padding-bottom: 35px;
  }
}
