.CRTripPainel.MuiExpansionPanel-rounded {
  border-radius: 10px !important;
}

.CRTripPainel {
  margin: 10px;
}

.MuiExpansionPanel-root.Mui-expanded {
  margin: 10px !important;
}

.MuiPaper-rounded {
  width: 80% !important;
}

.MuiTypography-root {
  line-height: 31px !important;
}

.MuiCardHeader-root {
  padding: 5px !important;
}

.MuiCardContent-root {
  padding-top: 0px !important;
  padding-left: 21px !important;
}

.MuiExpansionPanelSummary-content {
  margin: 5px 0px !important;
}

.TripCardBadges {
  display: flex;
  flex-direction: row;
  div {
    margin-right: 5px;
  }
}
