@import '../../../App.scss';

.card {
  padding: 18px;
  margin: 40px 30px 100px 30px;
  height: 100%;
  background: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .title {
    font-family: Montserrat Alternates;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: $primary-color;
  }

  .content {
    display: flex;
    flex-direction: column;
    flex: 1 1 1px;
    overflow-y: scroll;
    padding: 0 5px;
  }
}
