@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

.initial-text {
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
}

.screen {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(29.67deg, #3787b7 -3.31%, #274798 87.77%);
  display: flex;
}

body {
  overflow: hidden;
}
