@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

.initial-text {
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
}

body {
  overflow: hidden;
}
